*{
    box-sizing: border-box;
}

body{
    background-image: url(sushi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    margin-left: 40px;
}

.image2{
    position: absolute;
    bottom: 10px;
}

.text{
    font-size: 32px;
    color: white;
}